html,
body {

    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    margin: 0;
}


h1 {

    font-family: 'Roboto Thin';
    font-weight: 100;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin: 0;
    padding: 0 ;

}



/* laptop */
@media only screen and (min-width: 600px) {

    body {
        display: grid;
        place-content: center;
        background-color: aqua;

        width: 50%;
        margin: auto;

    }
}